// *************************************
//
//   Application
//   -> MVCSS v3.0.2 hybrid with Susy for layout and a sprinkle of Bourbon mixins
//
// *************************************

// -------------------------------------
//   Core
// -------------------------------------
@import "core/reset";
@import "core/settings";
@import "core/helpers";
@import "core/base";
@import "core/content";
@import "core/layout";

// -------------------------------------
//   Inbox
// -------------------------------------
input, fieldset, form {
  display: block;
}

hgroup,
nav[role=navigation] {
  display: block;
  @extend %l-space;
}

input {
  font-family: $c-header-fontFamily;
  width: 99%;
}

.meta {
  font-family: $c-header-fontFamily;
  color: lighten($base-color, 25%);
  font-size: rem(16px);
  span {
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  @include breakpoint(48em) {
    float: left;
    width: 20%;
    margin-left: -25%;
  }
}

.main-navigation,
.categories {
  @extend %c-unstyled;
  @extend %l-space;
  li {
    display: inline-block;
  }
}
