// *************************************
//
//   Application
//   -> MVCSS v3.0.2 hybrid with Susy for layout and a sprinkle of Bourbon mixins
//
// *************************************

// -------------------------------------
//   Core
// -------------------------------------
@import "core/reset";
@import "core/settings";
@import "core/helpers";
@import "core/base";
@import "core/content";
@import "core/layout";

// -------------------------------------
//   Inbox
// -------------------------------------

hgroup {
  margin-top: 0.5em;
}

.meta {
  font-family: $c-header-fontFamily;
}

.main-navigation {
  list-style: none;
  li {
    display: inline-block;
  }
}
