// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

.l-container,
%l-container {
  margin: 0 auto;
  width: 85%;
  max-width: 40em;
  //@extend %l-space;
  // @extend %debug;
}

header[role=banner] {
  @extend %l-space;
  background-color: #e51c23;
}
  // @include breakpoint(23em) {
  //   width: 85%;
  // }
  // @include breakpoint(66.25em) {
  //   width: 100%;
  // }

footer[role=contentinfo] {
  background: #01579b;
  color: #b3e5fc;
  font-family: $c-header-fontFamily;
  font-size: rem(16px);
  padding: 2em 0 1em;
  a {
    color: $footer-link-color;
  }
}

article {
  padding: 1em 0;
  border-bottom: 1px solid #b3e5fc;
}

.card {
  @extend %group;
}

.card-image {
  float: left;
  overflow: hidden;
  width: 25%;
  border-radius: 0.5em;
}

.card-content {
  float: right;
  width: 70%;
}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
  float: left;
}

%l-pullRight, .l-pullRight {
  float: right;
}

%l-space, .l-space {
  margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
  margin-bottom: rem($base-whitespace * 2);
}
