// *************************************
//
//   Layout
//   -> Margin, Padding, Sizing
//
// *************************************

.l-container,
%l-container {
  margin: 0 auto;
  width: 80%;
  max-width: 700px;
}

header[role=banner] {
  background: #ffffff;
  img {
    padding: 0.625em 0 0.25em;
  }
  a {
    border-bottom: none;
  }
}

section {
  padding: 1em 0;
}

footer[role=contentinfo] {
  background: #01579b;
  color: #b3e5fc;
  font-size: 0.75em;
  font-family: $c-header-fontFamily;
  padding: 2em 0 1em;
  a {
    color: #b3e5fc;
    border-bottom: 1px solid #b3e5fc;
    &:hover {
      text-decoration: none;
      border-bottom: none;
      color: #fff;
    }
  }
}

article {
  padding: 1em 0 1.25em;
  border-bottom: 1px solid #b3e5fc;
  &:last-child {
    border-bottom: none;
  }
}

.card {
  @extend %group;
}

.card-image {
  width: 45%;
  margin-bottom: 0.5em;
  img {
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
    border-radius: 0.5em;
  }
  @include breakpoint(30em) {
    float: left;
    width: 30%;
  }
  @include breakpoint(41em) {
    float: left;
    width: 20%;
  }
}

.card-content {
  @include breakpoint(30em) {
    float: right;
    width: 65%;
  }
  @include breakpoint(41em) {
    font-size: 1.125em;
    float: right;
    width: 72%;
  }
}

// -------------------------------------
//   Utilities
// -------------------------------------

%l-block, .l-block {
  display: block;
}

%l-condense, .l-condense {
  margin-bottom: rem($base-whitespace / 2);
}

%l-pullLeft, .l-pullLeft {
  float: left;
}

%l-pullRight, .l-pullRight {
  float: right;
}

%l-space, .l-space {
  margin-bottom: rem($base-whitespace);
}

%l-xspace, .l-xspace {
  margin-bottom: rem($base-whitespace * 2);
}

%l-sspace, .l-sspace {
  margin-bottom: rem($base-whitespace / 2);
}
