// *************************************
//
//   Settings
//   -> Fonts, Variables
//
// *************************************
@font-face {
  font-family: 'Calendas';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/calendas_plus-webfont.eot');
  src: url('/fonts/calendas_plus-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/calendas_plus-webfont.woff') format('woff'),
       url('/fonts/calendas_plus-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Calendas';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/calendas_plus_bold-webfont.eot');
  src: url('/fonts/calendas_plus_bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/calendas_plus_bold-webfont.woff') format('woff'),
       url('/fonts/calendas_plus_bold-webfont.ttf') format('truetype');
}
@font-face {
  font-family: 'Calendas';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/calendas_plus_italic-webfont.eot');
  src: url('/fonts/calendas_plus_italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/calendas_plus_italic-webfont.woff') format('woff'),
       url('/fonts/calendas_plus_italic-webfont.ttf') format('truetype');
}

// -------------------------------------
//   Variables
// -------------------------------------

// ----- Base Colors ----- //

$base-background: #f5f4f0;
$base-color: #4a4a4a;
$base-link-color: #0053c9;

// ----- Base Borders & Box Shadows ----- //

$base-border: 1px solid $base-color;
$base-borderRadius: 3px;
$base-boxShadow: 0 1px 2px rgba($base-color, 0.25);

// ----- Base Content ----- //

$base-fontFamily: 'Calendas', Georgia, serif;
$base-fontSize: 20px;
$base-lineHeight: 1.5;

// ----- Base Layout ----- //
$base-whitespace: 20px;

// ----- Content ----- //
$c-header-fontFamily: 'Source Sans Pro', Helvetica, Arial, sans-serif;

// ----- Layout ----- //
$l-maxWidth: 780px;

// ----- Media Queries ----- //
$no-mq-support: false !default;
$no-mq-threshold: 61em;
